--index-url https://pypi.tuna.tsinghua.edu.cn/simple

asgiref==3.5.2; python_version >= "3.8"
backports.zoneinfo==0.2.1; python_version < "3.9" and python_version >= "3.8"
django-ninja==0.17.0; python_version >= "3.6"
django==4.0.4; python_version >= "3.8"
isort==5.10.1; python_full_version >= "3.6.1" and python_version < "4.0"
pydantic==1.9.1; python_full_version >= "3.6.1"
sqlparse==0.4.2; python_version >= "3.8"
toml==0.10.2; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
typing-extensions==4.2.0; python_version >= "3.7" and python_full_version >= "3.6.1"
tzdata==2022.1; sys_platform == "win32" and python_version >= "3.8"
yapf==0.32.0
